body {
  margin: 0;
  background: #4a9cb2;
  font-family: "Muli", sans-serif;
}
.header {
  background: #4a9cb2;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  height: 50px;
  margin: 15px;
}
.header__menu {
  margin-right: 60px;
}
.header__menu ul {
  /* display: none; */
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0 0 0 -14px;
  display: none;
}
.header__menu:hover ul,
.header__menu ul:hover {
  display: block;
}
.header__menu img {
  margin-right: 8px;
  width: 40px;
  height: auto;
}
.header__menu ul li:hover {
  text-decoration: underline;
}
.header__menu li {
  margin: 10px 0;
}
.header__menu li a {
  color: white;
  text-decoration: none;
}
.header__menu--profile {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.header__menu--profile p {
  margin: 0;
  color: white;
}
.main {
  /* height: 300px; */
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  width: 100%;
}
.main__title {
  color: white;
  font-size: 25px;
  grid-column: 2 / 3;
  text-align: center;
}
.categories__title {
  color: white;
  font-size: 16px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
}
.not-found__title{
  color: white;
  font-weight: 100;
  font-size: 72px;
  padding-left: 30px;
  width: 100%;
  padding: 0;
  margin: 0;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-duration: 2.5s;
}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.not-found{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: calc(100vh - 180px);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rick-morty-page{
  background: linear-gradient(#21C08B, #AB88FF);
  min-height: 100vh;
}
.rick-morty-page .header, .rick-morty-page .footer{
  background: none;
}
.not-found__description {
  margin: 0;
  color: white;
}
.input {
 /* background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  height: 50px;
  padding: 0px 20px;
  width: 100%;
  color: white;
  outline: none;*/
}
.main__input {
  /*outline: none;
  grid-column: 2 / 3;*/
}
::placeholder {
  /*color: wheat;*/
}
.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}
.carousel__container {
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
}
.carousel-item {
  /* background: red; */
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}
.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
  opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}
.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.carousel-item:hover .carousel-item__details {
  opacity: 1;
  color: white;
}
.carousel-item__details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  /* top: 0; */
  right: 0;
  left: 0;
  bottom: 0;
}
.carousel-item__details--icon {
  width: 20px;
  height: auto;
}
.carousel-item__details--title {
  font-weight: bold;
  font-size: 1.3em;
}
.carousel-item__details div,
.carousel-item__details p {
  margin: 0;
  padding: 0;
}
.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background: #4a9cb2;
  /* justify-content: center; */
}
.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

.rickAndMorty {
    background: white;
    max-width: 900px;
    min-width: 400px;
    width: 33%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 11px 10px 18px 0px rgb(107,116,153);
    border-radius: 10px;
}
.characterImageWrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.inputWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.inputWrapper.getCharacter{
  /* grid-template-columns: 100px 3fr!important; */
  grid-template-columns: 1fr;
  text-align: center;

}
.inputWrapper.getCharacter input{
  /* border-radius: 0; */
  padding-left: 10px;
  text-align: left;
  
} 
.inputWrapper.getCharacter  button{
  background: linear-gradient(#21C08B, #AB88FF);
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.inputWrapper.getCharacter:hover  button{
  background: linear-gradient(#2a775e, #4b28a0);
 
}

.inputWrapper input {
    border-radius: 15px;
    font-size: 1em;
    text-align: center;
    height: 3em;;
}::placeholder {
  
}
.inputWrapper label{
  /* border: 1px solid red; */
  font-weight: 700;
  font-size: 1.3em;
  background-blend-mode: hue;
  border-radius: 5px;
}
.inputWrapper.recordsTotal {
  height: 30px;
  margin: 0;
  /* display: block; */
  background: purple;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
  grid-template-columns: 100px 100px;
}
.inputWrapper.recordsTotal input, .inputWrapper.recordsTotal label {
  padding-left: 10px;
  font-size: 10px;
  border: none;
  background: no-repeat;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  /* text-align: center; */
}

@media screen and (max-width: 600px) {
  .login__container {
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
